<%- include("partials/header") -%>

<h1>Let's Start Journey Together!</h1>

<p>
  <%= aboutContent %>
  <br>
  Don't publish Negative Ideas or Thoughts, We are Monitoring it.
</p>
<h2>Publish your passion, your own way!!!</h2>

<%- include("partials/footer") -%>
