<%- include("partials/header") -%>

<h1>About</h1>

<p>
  <%= aboutContent %>
  <br>
  Don't publish Negative Ideas or Thoughts, We are Monitoring it.
</p>
<h2 style="margin-top: 50px ;color: #000; text-align: center;">Publish your passion, your way!!!</h2>

<%- include("partials/footer") -%>
