<%- include("partials/header") -%>

<h1>Compose</h1>

<form class="form-group" action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="postTitle" style="background-color:rgb(131, 255, 255);">
    <label>Post</label>
    <textarea class="form-control" name="postBody" rows="5" cols="30" style="background-color: rgb(131, 255, 255);"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer") -%>
