body {
  background-image: url("bgimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
h1{
  font-size: 50px;
  color: darkmagenta;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}
h2{
  margin-top: 100px;
  color: black;
  text-align: center;
  font-family: fantasy;
}
p{
  text-align: center;
  text-shadow: #09a3f1;
  margin-top: 40px;
  font-size: 20px;
  color: rgb(18, 58, 114) ;
}
label{
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  color: #01060e;
  text-decoration: underline;
}
input{
  color: #10f8ec;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  background-image: linear-gradient(to left, rgba(255,0,0,0),#00FBCA);
  font-size: 12px;
  letter-spacing: 5px;
  font-family: sans-serif;
}

.navbar-nav li a:hover {
  color: rgb(0, 72, 255);
}

.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #597d90
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: rgb(238, 77, 77);
}
